.contacts {
  //margin-bottom: clamp(2.5rem, 9vw, 5rem);

  .wrapper {
    flex-direction: column;
    width: 100%;
    
    .contact-us-title {
      margin: 0;
      font-size: clamp(1.7rem, 7vw, 2.7rem);
    }
    
    .side {
      background-color: #000;
      color: $white-text;
      padding: 40px 30px;
      width: 100%;
      display: flex;
      flex-direction: column;
      
      .subtext {
        margin: 10px 0 0 0;
        font-size: 0.8rem;
        font-family: 'Noto Sans', sans-serif;
        color: darken($white-text, 40%);
      }

      .contact-data {
        width: 100%;
        max-width: 240px;
        margin-top: 20px;

        tr:not(:last-child) .subtext {
          margin: 5px 0 20px 0;
        }
        
        .icon {
          width: 20px;
          padding-right: 20px;
          font-size: 1.2rem;
          text-align: center;
          vertical-align: top;
          color: $primary;
        }

        .title {
          font-weight: 700;
        }
      }
    }

    .map {
      width: 100%;
      height: 300px;
      //margin-top: 20px;
    }
  }
}