$bg-color: #ffffff;
$primary: #DCAD3B;
$dismiss: #ed3d26;
$header-bg: #0d1810;
$facilities-bg: #172b1c;
$gallery-bg: #0a130c;
$contact-bg: #0a130c;
$contactbox-bg: #172b1c;
$footer-bg: #0d1810;
$white-text: #bdcfc2;
$text-input-bg: #eeeeee;
$disclaimer-color: #b4b4b4;

/* SCSS HEX */
$rifle-green: #3D4335;
$blue-ncs: #2E88AA;
$goldenrod: #DCAD3B;
$middle-green: #5C8C4E;
$dark-sea-green: #87BC92;