@import "./partials/variables";
@import "./partials/globals";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/greeting";
@import "./partials/facilities";
@import "./partials/reviews";
@import "./partials/gallery";
@import "./partials/contacts";
@import "./partials/sidemenu";



/* Media Queries START */


@media (min-width: 414px) {
  body .facilities > .flex .sibling {
    // height: 50px;

    i {
      height: 50px ;
      max-width: 50px;
      font-size: 1.4rem;
    }

    .title {
      font-size: 1rem !important;
    }
  }

  body .reviews {
    .title {
      font-size: 1.4rem;
    }
  }

  body .contacts .wrapper .side {
    padding: 40px;
  }
}

@media (min-width: 540px) {
  body .contacts .wrapper .side {
    flex-direction: row;
    padding: 40px 20px;

    .introduction {
      margin: auto;
    }
    
    .introduction .subtext {
      max-width: 220px;
    }

    .contact-data {
      margin-top: 0;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .facilities > h1 {
    font-size: 2rem;
  }

  body .reviews .container {
    padding-bottom: 80px;
  }

  body .reviews .title {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .sidemenu-btn { display: none; }
  .header-bottom-bar { display: flex !important; }
  
  header {
    height: 100px;

    &.shrinked {
      transform: translateY(-50px);
    }
  }

  body header .header-top-bar .logo {
    font-size: 4.5rem;
    transform: translate(-50%, -50%) scale(0.6);

    &.on-top-of-greeting {
      transform: translate(-50%, calc(-50% + 30vh + 130px)) scale(1);
    }
  }

  .greeting {
    height: calc(100vh - 50px) !important;
    margin-top: 50px !important;
  }

  body .reviews .reviews-wrapper .review {
    flex-basis: calc(50% - 20px);

    .description {
      text-align: justify;
    }
  }

  #gallery .slider-wrapper .slider-row {
    &:first-child {
      margin-bottom: 10px;
    }

    .image-wrapper:not(:first-child) {
      margin-left: 10px;
    }

    &::before {
      background-image: linear-gradient(to right, rgba($gallery-bg, 1) 10%, rgba($gallery-bg, 0) 100%);
    }

    &::after {
      background-image: linear-gradient(to left, rgba($gallery-bg, 1) 10%, rgba($gallery-bg, 0) 100%);
    }
  }

  body .contacts .wrapper {
    flex-direction: row;
    align-items: stretch;

    .side {
      min-width: 450px;
      max-width: 50%;
      //flex-grow: 0.5;

      .contact-data .icon {
        font-size: 1.4rem;
      }
    }
    
    .map {
      height: 100%;
      margin: 0;
    }
  }
}

@media (min-width: 896px) {
  .facilities .sibling {
    flex-basis: 33.3333% !important;
    margin-bottom: 80px !important;

    &:nth-last-child(3),
    &:nth-last-child(2),
    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  body .reviews .title {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
   header .logo {
    font-size: 5.5rem !important;
    transform: translate(-50%, -50%) scale(0.4909) !important;

    &.on-top-of-greeting {
      transform: translate(-50%, calc(-50% + 30vh + 140px)) !important;
    }
  }

  .facilities {
    padding-top: 60px;
    padding-bottom: 100px;

    > h1 {
      font-size: 2.5rem;
    }

    > .flex {
      margin-top: 60px;
    }
  }

  body .reviews {

    .title {
      font-size: 2.5rem;
      margin: 60px auto;
    }

    .reviews-wrapper {
      column-gap: 100px;
      row-gap: 60px;
      max-width: 900px;

      .review {
        flex-basis: calc(50% - 50px);
      }
    }

    .container {
      padding-bottom: 100px;
    }
  }

  footer {
    padding-top: 80px;

    > .flex {
      flex-direction: row;
      justify-content: space-between;

      .sibling {
        width: fit-content;
        margin-top: 0 !important;

        &:first-child {
          flex-grow: 0.4;
        }

        &:nth-child(3) {
          flex-grow: 0.05;
        }

        form {
          width: 250px;
        }
      }
    }
  }
}


/* Media Queries END */