@import "../utils/variables";


html {
  background-color: #fff;
  scroll-behavior: smooth;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: 'Playfair Display', serif;
  margin: 0;

  &.scroll-lock {
    overflow: hidden;
  }
}

/* Globals START*/


.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Globals END*/


/* Header START */


header {
  background-color: #000;
  height: 60px;

  .header-top-bar {
    height: 60px;
    position: relative;
    align-items: center;

    .sidemenu-btn {
      color: #fff;
      
      i {
        font-size: 20px;
      }
    }

    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Cookie', cursive;
      font-size: 2.7em;
      color: #fff;
      white-space: nowrap;
      cursor: pointer;
      height: 60px;
    }
  }

  .header-bottom-bar {
    height: 40px;
    align-items: flex-start;
    display: none;

    nav {
      height: 100%;
    }

    ul {
      height: 100%;
      display: flex;

      .active {
        border-bottom: $primary 4px solid;
      }

      li {
        font-size: 1rem;
        cursor: pointer;
        color: #fff;

        a {
          display: block;
          height: 100%;
          color: #fff;
          text-decoration: none;
        }

        &.active a {
          height: calc(100% + 4px);
        }

        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }
}


/* Header END */


/* Sidemenu START */


#sidemenu {
  &.open {
    .overlay {
      visibility: visible;
    }

    .menu {
      visibility: visible;
      margin-left: 0;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    opacity: 0.3;
    visibility: hidden;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 250px;
    height: 100vh;
    transition: margin 0.5s;
    margin-left: -250px;

    ul {
      margin: 0;
      padding: 0;

      li {
        padding: 0 20px;
        height: 60px;
        font-weight: 700;
        border-bottom: #ddd 1px solid;
        justify-content: left;

        &:not(:first-child):hover {
          background-color: #ddd;
        }

        .wrapper {
          display: flex;
          align-items: center;

          span {
            font-size: 1rem;
            line-height: 75%;
            display: inline-block;
          }

          i {
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            margin-right: 10px;
          }
        }

        &:first-child {
          justify-content: right;

          i {
            float: right;
            height: 60px;
            width: 60px;
            margin-right: -20px;
            color: #fff;
            background-color: $dismiss;
          }
        }
      }
    }
  }
}


/* Sidemenu END */


/* Media Queries START */


@media (min-width: 768px) {
  .sidemenu-btn { display: none; }
  .header-bottom-bar { display: flex !important; }
  
  header {
    height: 100px;

  }
}


/* Media Queries END */