@import "../utils/variables";


html {
  background-color: #fff;
  scroll-behavior: smooth;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: 'Playfair Display', serif;
  margin: 0;

  &.scroll-lock {
    overflow: hidden;
  }
}

/* Globals START*/


.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Globals END*/


/* Header START */


header {
  background-color: #000;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 60px;
  transition: margin-top 0.4s;

  &.shrinked {
    margin-top: -50px;
  }

  .header-top-bar {
    height: 60px;
    position: relative;
    align-items: center;
    overflow: visible;

    .sidemenu-btn {
      color: $white-text;
      
      i {
        font-size: 20px;
      }
    }

    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      font-family: 'Cookie', cursive;

      // safari bug fix:
      font-size: 3.5rem;
      transform: translate(-50%, -50%) scale(0.7714);
      // safari bug fix END.

      color: $white-text;
      white-space: nowrap;
      cursor: pointer;
      height: 60px;
      transition: 0.4s;

      &.on-top-of-greeting {
        transform: translate(-50%, calc(-50% + 30vh + 80px)) scale(1);
        //font-size: 3.5rem;
      }
    }
  }

  .header-bottom-bar {
    height: 40px;
    align-items: flex-start;
    display: none;

    nav {
      height: 100%;
    }

    ul {
      height: 100%;
      display: flex;

      .active {
        border-bottom: $primary 4px solid;
      }

      li {
        font-size: 1.2rem;
        cursor: pointer;
        color: $white-text;

        &:hover {
          color: #aaaaaa;
        }

        a {
          display: block;
          height: 100%;
          color: #fff;
          text-decoration: none;
        }

        &.active a {
          height: calc(100% + 4px);
        }

        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }
}


/* Header END */


/* Sidemenu START */


#sidemenu {

  &.open {
    .overlay {
      visibility: visible;
    }

    .menu {
      visibility: visible;
      margin-left: 0;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    opacity: 0.3;
    visibility: hidden;
    z-index: 10;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 250px;
    height: 100vh;
    transition: margin 0.5s;
    margin-left: -250px;
    z-index: 10;

    ul {
      margin: 0;
      padding: 0;

      li {
        padding: 0 20px;
        height: 60px;
        font-weight: 700;
        border-bottom: #ddd 1px solid;
        justify-content: left;

        &:not(:first-child):hover {
          background-color: #ddd;
        }

        .wrapper {
          display: flex;
          align-items: center;

          span {
            font-size: 1rem;
            line-height: 75%;
            display: inline-block;
          }

          i {
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            margin-right: 10px;
          }
        }

        &:first-child {
          justify-content: right;

          i {
            float: right;
            height: 60px;
            width: 60px;
            margin-right: -20px;
            color: #fff;
            background-color: $dismiss;
          }
        }
      }
    }
  }
}


/* Sidemenu END */

/* Section 1 START */


.greeting {
  height: calc(100vh - 60px);
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 60px;

  .wrapper {
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;

    .text {
      color: $white-text;
      font-weight: 700;
      font-size: 2rem;
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: blur(5px) saturate(1.2) brightness(0.65);
    transform: scale(1.1);
  }

  // Arrows
  .arrows {
    width: 61px;
    height: 73px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
    transform: scale(0.5);
  }
  
  .arrows path {
    stroke: #fff;
    fill: transparent;
    stroke-width: 3px;	
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 {	
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }
}


/* Section 1 END */


/* Media Queries START */


@media (min-width: 480px) {

}

@media (min-width: 768px) {
  .sidemenu-btn { display: none; }
  .header-bottom-bar { display: flex !important; }
  
  header {
    height: 100px;
  }

  body header .header-top-bar .logo {
    font-size: 4.5rem;
    transform: translate(-50%, -50%) scale(0.6);

    &.on-top-of-greeting {
      transform: translate(-50%, calc(-50% + 30vh + 130px)) scale(1);
    }
  }

  .greeting {
    height: calc(100vh - 50px) !important;
    margin-top: 50px !important;
  }
}

@media (min-width: 1024px) {
  .logo {
    font-size: 5.5rem !important;
    transform: translate(-50%, -50%) scale(0.4909) !important;

    &.on-top-of-greeting {
      transform: translate(-50%, calc(-50% + 30vh + 140px)) !important;
    }
  }
}


/* Media Queries END */